<mat-card fxFlex>
    <mat-card-title>Consulta de Destinatários</mat-card-title>

    <mat-card-content>
        <ng-container *ngIf="destinatarios?.length > 0; else empty">
            <table mat-table [dataSource]="destinatarios" class="mat-elevation-z8">
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                </ng-container>
            
                <ng-container matColumnDef="cpf">
                    <th mat-header-cell *matHeaderCellDef > CPF </th>
                    <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
                </ng-container>

                <ng-container matColumnDef="telefone">
                    <th mat-header-cell *matHeaderCellDef > Telefone </th>
                    <td mat-cell *matCellDef="let element"> {{element.telefone | mask: '(00) 0 0000-0000'}} </td>
                </ng-container>

                <ng-container matColumnDef="endereco">
                    <th mat-header-cell *matHeaderCellDef > Endereço </th>
                    <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef > E-mail </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>

        <ng-template #empty >
            <div><em>Empty</em></div>
        </ng-template>

    </mat-card-content>
</mat-card>