<div layout="column" layout-fill>
    <div align="center" layout="row" layout-align="center center">

    <mat-card class="info-card mat-elevation-z8" flex="80" style="margin-top: 80px;width: 700px;">

        <mat-card-title align="start">Cadastro de Remetente</mat-card-title>

        <mat-divider></mat-divider>

        <mat-card-content fxLayout="column" fxLayoutAlign="stretch" style="margin-top: 20px">
            <form [formGroup]="remetenteForm" autocomplete="off" (ngSubmit)="save()"
                fxLayout="column" fxLayoutAlign="start stretch" #form="ngForm">

                <input type="hidden" formControlName="id">

                <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between  start">
                    <mat-form-field fxFlex="60">
                        <input matInput type="text" formControlName="nome" placeholder="Nome">
                        <mat-error *ngIf="remetenteForm.controls.nome.hasError('required')">
                            Favor informar o nome do remetente.
                        </mat-error>
                        <mat-error *ngIf="remetenteForm.controls.nome.hasError('minlength')">
                            Nome deve conter {{remetenteForm.controls.nome.errors.minlength.requiredLength}} ou mais caracteres.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="35">
                        <input matInput type="text" formControlName="cpf" placeholder="CPF" mask="000.000.000-00">
                        <mat-error *ngIf="remetenteForm.controls.cpf.hasError('required')">
                            Favor informar o CPF do remetente.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between  start">
                    <mat-form-field fxFlex="30">
                        <input matInput type="text" formControlName="telefone" placeholder="Telefone" mask="(00) 0 0000-0000">
                        <mat-error *ngIf="remetenteForm.controls.telefone.hasError('required')">
                            Favor informar o telefone e DDD do remetente.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="30">
                        <input matInput type="email" formControlName="email" placeholder="E-mail">
                        <mat-error *ngIf="remetenteForm.controls.email.hasError('required')">
                            Favor informar o email do remetente.
                        </mat-error>
                        <mat-error *ngIf="remetenteForm.controls.email.hasError('email')">
                            Favor informar um e-mail valido.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="30">
                        <input matInput type="text" formControlName="endereco" placeholder="Endereço">
                        <mat-error *ngIf="remetenteForm.controls.endereco.hasError('required')">
                            Favor informar o endereço do remetente.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" fxFlex="15" type="submit">Salvar</button>
                    <button mat-raised-button color="warn" fxFlex="15" (click)="cancelar()">Cancelar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    </div>
</div>