<div layout="column" layout-fill>
    <div align="center" layout="row" layout-align="center center">

    <mat-card class="info-card mat-elevation-z8" flex="80" style="margin-top: 80px;width: 700px;">

        <mat-card-title align="start">Enviar mensagem</mat-card-title>

        <mat-divider></mat-divider>

        <mat-card-content fxLayout="column" fxLayoutAlign="stretch" style="margin-top: 20px">
            <form [formGroup]="mensagemForm" autocomplete="off" (ngSubmit)="send()"
                fxLayout="column" fxLayoutAlign="start stretch" #form="ngForm">

                <input type="hidden" formControlName="id">

                <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between  start">
                    <mat-form-field fxFlex="60">
                        <mat-select placeholder="Remetente" formControlName="remetente">
                            <mat-select-trigger>
                                {{mensagemForm.value.remetente ? mensagemForm.value.remetente.nome : ''}}
                            </mat-select-trigger>
                            <mat-option *ngFor="let r of remetentes" [value]="r">{{r.nome}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="mensagemForm.controls.remetente.hasError('required')">
                            Favor informar o remetente.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="35">
                        <mat-select placeholder="Destinatários" formControlName="destinatarios" multiple>
                            <mat-select-trigger>
                                {{mensagemForm.value.destinatarios ? mensagemForm.value.destinatarios[0]?.nome : ''}}
                                <span *ngIf="mensagemForm.value.destinatarios?.length > 1" class="example-additional-selection">
                                    (+{{mensagemForm.value.destinatarios.length - 1}} {{mensagemForm.value.destinatarios?.length === 2 ? 'outro' : 'outros'}})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let destinatario of destinatarios" [value]="destinatario">{{destinatario.nome}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="mensagemForm.controls.destinatarios.hasError('required')">
                            Favor informar ao menos um destinatário.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between center">
                    <label fxFlex="10">Destinatários: </label>
                    
                    <mat-chip-list mat-line fxFlex="80">
                        <mat-chip *ngFor="let d of mensagemForm.value.destinatarios" matTooltip="{{d.nome}}">{{d.email}}</mat-chip>
                    </mat-chip-list>
                </div>

                <div fxFlex="100"  fxLayout="row" fxLayoutAlign="start" class="spacing-top">
                    <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="Mensagem" formControlName="mensagem"></textarea>
                        <mat-hint align="end">{{mensagemForm.value.mensagem ? mensagemForm.value.mensagem.length : 0}} / 300</mat-hint>
                        <mat-error *ngIf="mensagemForm.controls.mensagem.hasError('required')">
                            Favor informar uma mensagem.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="20px" class="spacing-top">
                    <button mat-raised-button color="primary" fxFlex="15" type="submit">Enviar</button>
                    <button mat-raised-button color="warn" fxFlex="15" (click)="cancelar()">Cancelar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    </div>
</div>