<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <span>
        Mensagens - Client
    </span>

    <div fxLayoutGap="10px">
        <button mat-raised-button mat-icon routerLink="mensagem">
            <mat-icon>mail_outline</mat-icon>
            <span>Mensagem</span>
        </button>
        
        <button mat-raised-button mat-icon [matMenuTriggerFor]="menuCadastro">
            <mat-icon>add</mat-icon>
            Cadastro
        </button>
        <mat-menu #menuCadastro="matMenu">
            <button mat-menu-item routerLink="cadastroRemetente">
                <mat-icon>create</mat-icon>
                <span>Remetente</span>
            </button>
            <button mat-menu-item routerLink="cadastroDestinatario">
                <mat-icon>mail_outline</mat-icon>
                <span>Destinatário</span>
            </button>
        </mat-menu>
        
        <button mat-raised-button [matMenuTriggerFor]="menuConsulta">
            <mat-icon>search</mat-icon>
            Consulta
        </button>
        <mat-menu #menuConsulta="matMenu">
            <button mat-menu-item routerLink="consultaRemetente">
                <mat-icon>person</mat-icon>
                <span>Remetente</span>
            </button>
            <button mat-menu-item routerLink="consultaDestinatario">
                <mat-icon>person_outline</mat-icon>
                <span>Destinatário</span>
            </button>
        </mat-menu>
    </div>
    </mat-toolbar>
<router-outlet></router-outlet>