<h1 mat-dialog-title>Editar Remetente </h1>

<div mat-dialog-content style="height: 150px;">
    <form [formGroup]="remetenteForm" autocomplete="off" (ngSubmit)="save()"
        fxLayout="column" fxLayoutAlign="start stretch" #form="ngForm">

        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="mensagens">

        <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between  start">
            <mat-form-field fxFlex="60">
                <input matInput type="text" disabled formControlName="nome"  placeholder="Nome">
                <mat-error *ngIf="remetenteForm.controls.nome.hasError('required')">
                    Favor informar o nome do remetente.
                </mat-error>
                <mat-error *ngIf="remetenteForm.controls.nome.hasError('minlength')">
                    Nome deve conter {{remetenteForm.controls.nome.errors.minlength.requiredLength}} ou mais caracteres.
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="35">
                <input matInput type="text" formControlName="cpf" placeholder="CPF" disabled mask="000.000.000-00">
                <mat-error *ngIf="remetenteForm.controls.cpf.hasError('required')">
                    Favor informar o CPF do remetente.
                </mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between  start">
            <mat-form-field fxFlex="30">
                <input matInput type="text" formControlName="telefone" placeholder="Telefone" mask="(00) 0 0000-0000">
                <mat-error *ngIf="remetenteForm.controls.telefone.hasError('required')">
                    Favor informar o telefone e DDD do remetente.
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="30">
                <input matInput type="email" formControlName="email" placeholder="E-mail">
                <mat-error *ngIf="remetenteForm.controls.email.hasError('required')">
                    Favor informar o email do remetente.
                </mat-error>
                <mat-error *ngIf="remetenteForm.controls.email.hasError('email')">
                    Favor informar um e-mail valido.
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="30">
                <input matInput type="text" formControlName="endereco" placeholder="Endereço">
                <mat-error *ngIf="remetenteForm.controls.endereco.hasError('required')">
                    Favor informar o endereço do remetente.
                </mat-error>
            </mat-form-field>
        </div>

        
    </form>
</div>

<div mat-dialog-actions >
    <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
</div>