<div layout="column" layout-fill>
    <div align="center" layout="row" layout-align="center center">

        <mat-card class="info-card mat-elevation-z8" flex="80" style="margin-top: 80px;width: 700px;">
            <mat-card-title align="start">Cadastro de Destinatários</mat-card-title>

            <mat-divider></mat-divider>

            <mat-card-content fxLayout="row" fxLayoutGap="10px" style="margin-top: 20px">
                <label>Selecione o arquivo no formato CSV:</label>
                <input type="file" #inputFile (change)="handleFileInput($event.target.files)"/>
            </mat-card-content>

            <div fxLayout="row" fxLayoutAlign="end end">
                <button mat-raised-button color="primary" fxFlex="15" [disabled]="!validatedFile" (click)="uploadFileToActivity()">Enviar</button>
            </div>
        </mat-card>
    </div>
</div>